@import '../../styles/var.less';

.u-subscribeCofirm {
  color: #333;
  background-color: #f3f4f8;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 200px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
}

.u-header {
  box-sizing: border-box;
  width: 710px;
  margin-left: 20px;
  padding: 20px 40px;
  border-radius: 16px;
  background-color: #fff;
  &__info {
    color: #333;
    font-size: 32px;
  }
  &__mobile {
    margin-top: 20px;
    color: #999;
    font-size: 28px;
  }
}

.u-store {
  box-sizing: border-box;
  width: 710px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 16px;
  &__name {
    color: #333;
    font-weight: 500;
    font-size: 32px;
  }
  &__address {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 24px;
    color: #666;
  }
  .u-pay {
    font-size: 28px;
  }
}

.u-pet {
  box-sizing: border-box;
  width: 710px;
  height: 146px;
  background: #FFFFFF;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  &__avatar {
    width: 96px;
    height: 96px;
    margin-right: 24px;
    border-radius: 96px;
  }
  &__name {
    margin-bottom: 20px;
    font-size: 28px;
  }
  &__petBreed {
    box-sizing: border-box;
    color: #FF7013;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 20px;
    background:rgba(255,112,19,0.1);
  }
}

.u-service {
  box-sizing: border-box;
  width: 710px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 16px;
  &__title {
    padding: 20px;
    height: 44px;
    font-size: 32px;
    color: #333333;
    line-height: 44px;
  }
  &__item {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  &__icon {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid #eee;
  }
  &__name {
    font-size: 28px;
    flex: 1;
    align-self: flex-start;
    height: 40px;
    line-height: 40px;
  }
  &__price {
    font-size: 30px;
    flex: 0 0 auto;
  }
}

.u-time {
  box-sizing: border-box;
  width: 710px;
  padding: 30px 20px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 16px;
  background-color: #fff;

  &__label {
    font-size: 32px;
  }
  &__val {
    font-size: 28px;
  }
}

.u-payment {
  box-sizing: border-box;
  width: 710px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  &__label {
    font-size: 32px;
    flex: 0 0 auto;
  }
  &__remark {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  &__input {
    flex: 1;
    padding-left: 20px;
  }
}

.u-action {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  z-index: 100;
  background-color: #fff;
  border-top: 1px solid #eee;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  &__left {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ccc;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__label {
    font-size: 24px;
    color: #333;
  }
  &__btn {
    width: 220px;
    margin-left: 20px;
  }
}