.u-svOrder {
  box-sizing: border-box;
  width: 700px;
  margin: 0 auto;
  padding: 18px;
  padding-bottom: 40px;
  margin-top: 30px;
  background: #fff;
  border-radius: 5px;
  color: #333;

  &__pet {
    padding: 24px 0;

    &__avatar {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 80px;
    }
  }

  &__info {
    font-size: 28px;

    &__image {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 5px;
    }
  }

  .u-action {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__btn {
      margin-left: 40px;
    }
  }

}