.u-cart {
  min-height: 100vh;
  padding-bottom: 200px;
  background-color: #F2F3F4;
}

.u-empty {
  Image {
    margin-top: 194px;
    margin-left: 35px;
    margin-bottom: 94px;
    width: 680px;
    height: 332px;
  }
}

.u-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  font-size: 28px;
  color: #3C4F5E;
  background-color: #fff;
  border-top: 1px solid #F2F3F4;

  &__l {
    font-size: 30px;
    font-weight: 500;
  }
}

.u-action {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  z-index: 100;
  background-color: #fff;
  border-top: 1px solid #eee;
  font-size: 28px;

  &__left {
    display: flex;
    align-items: center;
    color: #ccc;
  }

  &__all {
    margin-left: 10px;
    color: #3C4F5E;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__label {
    font-size: 24px;
    color: #666;

  }

  &__btn {
    width: 128px;
    height: 54px;
    margin-left: 20px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    background: #FF7013;
    border-radius: 27px;
    font-size: 28px;
  }

  &__delete {
    width: 128px;
    height: 54px;
    margin-left: 20px;
    line-height: 54px;
    text-align: center;
    color: #FF7013;
    background: #fff;
    border: 1px solid #FF7013;
    border-radius: 27px;
    font-size: 28px;
  }
}