.u-login {
  width: 100vw;
  height: 100vh;
  color: #333;
  background-color: #f3f4f8;
  .u-content {
    padding-top: 200px;
    text-align: center;
  }
  .u-img {
    margin-top: 194px;
    margin-left: 35px;
    width: 680px;
    height: 332px;
  }
  .u-tip {
    padding: 30px 0;
    font-size: 24px;
    color: #ccc;
  }
  .u-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 70px;
    margin: 0 auto;
    background: #FFF1E8;
    border: 2px solid #FFD1B4;
    border-radius: 40px;
    font-size: 30px;
  }
}