View {
  font-family: PingFangSC-Regular, PingFang SC;
}

// 组件样式覆盖
// .u-coupon {
//   .at-float-layout .layout-body {
//     background-color: #f7f8f8;
//   }
// }

.at-float-layout .layout-body {
  background-color: #f7f8f8;
}

.at-grid__flex .content-inner__img {
  width: 48px;
  height: 48px;
}