.u-product {
  &__label {
    font-size: 24px;
  }

  &__item {
    display: flex;
    padding: 20px 0;
  }

  &__img {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;

    Image {
      width: 100px;
      height: 100px;
    }
  }

  &__info {
    flex: 1;
  }

  &__name {
    font-size: 28px;
    line-height: 1;
  }

  &__specs {
    margin-top: 10px;
    font-size: 26px;
    color: #ccc;
  }

  &__right {
    flex: 0 0 auto;
    margin-left: 20px;
    text-align: right;
  }

  &__price {
    line-height: 1;
    font-size: 28px;
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 26px;
    color: #ccc;
  }
}